<!-- Home Page -->
<!doctype html>
<html lang="en">

<head>
	<% include ../partials/head_content %>
	<title>Home</title>
</head>




<% include ../partials/navigation_bar %>

<script>
	function onClickFunction() {
		var formPostObject = {
			username: "gtzinov",
			password: "MapCU2020"
		}
	}
</script>




<body>
	<div class="container">
		<h1 id="user_display" class="display-3">Welcome to MapCU</h1>
		<div class="row">
			<div class="col-sm">
				<img src="views/images/ecimage.jpg" height="400px" width="675px">
			</div>

			<div class="col-sm">
				<form action="/instructions" method="POST">

					<div class=" form-group">
						<label>Enter Destination Room Number</label>
						<input id="instructionInput" type="text" class="form-control" name="current_room"
							placeholder="Room Number">
						<br>
						<label for="exampleInputEmail1">Enter Current Location</label>
						<input id="instructionInput2" type="text" class="form-control" name="target_room"
							placeholder="Room Number">
						<small id="formHelp" class="text-danger"></small>
						<br>

						<div class="form-group">
							<br>
							<button class="btn btn-dark btn-block" type="Submit">Give me
								instructions!</button>
						</div>
						</label>
				</form>

			</div>

		</div>
	</div>



	<script>
		var user = (`<%- typeof(user) !== 'undefined' ? user : 'NA' %>`)

		if (user != 'NA') {
			document.getElementById("user_display").innerHTML += `, ${user}!`
		}

		var instructionsStatus = `<%- instructionStatus%>`
		if (instructionsStatus == "invalid") {
			document.getElementById("instructionInput").classList.add(`form-control`)
			document.getElementById("instructionInput").classList.add(`is-invalid`)
			document.getElementById("instructionInput2").classList.add(`form-control`)
			document.getElementById("instructionInput2").classList.add(`is-invalid`)
			document.getElementById("formHelp").innerHTML += "One or both of these rooms do not exist, try a room closeby."



		}



	</script>
</body>


</html>