<!-- Home Page -->
<!doctype html>
<html lang="en">

<head>
	<% include ../partials/head_content %>
	<title>Home</title>
</head>




<% include ../partials/navigation_bar %>




<style>
	body {
		background-color: lightgrey;
	}
</style>

<body>
	<div class="container">
		<h1 id="user_display" class="display-3">Welcome to MapCU</h1>
		<div class="row">
			<div class="col">
				<img src="views/images/engineering_center.png" height="375px" width="675px">
			</div>

			<div class="col">
				<form action="/instructions" method="POST">

					<div class="form-group">
						<label for="exampleInputEmail1">Enter Current Location</label>
						<div class="row">
							<div class="col-4" style="margin-right: -5%; ">
								<input id="instructionInput3" type="text" class="form-control"
									name="target_room_wing" placeholder="Wing">
							</div>

							<div class="col" style="margin-right: -5%; ">
								<input id="instructionInput4" type="text" class="form-control"
									name="target_room_room_number" placeholder="Room Number">
							</div>


						</div>



					</div>

					<div class=" form-group">
						<label>Enter Destination Room Number</label>
						<div class="row">
							<div class="col-4" style="margin-right: -5%; ">
								<input id="instructionInput" type="text" class="form-control"
									name="current_room_wing" placeholder="Wing">
							</div>

							<div class="col">
								<input id="instructionInput2" type="text" class="form-control"
									name="current_room_room_number" placeholder="Room Number">
							</div>

						</div>



						<p id="formHelp" class="text-danger" style="padding-top: 10px;"></p>

					</div>
					<button class="btn btn-dark btn-block" type="Submit">Give me
						instructions!</button>
				</form>

			</div>

		</div>
	</div>



	<script>
		var user = (`<%- typeof(user) !== 'undefined' ? user : 'NA' %>`)

		if (user != 'NA') {
			document.getElementById("user_display").innerHTML += `, ${user}!`
		}

		var instructionsStatus = `<%- instructionStatus%>`
		if (instructionsStatus == "invalid") {
			document.getElementById("instructionInput").classList.add(`form-control`)
			document.getElementById("instructionInput").classList.add(`is-invalid`)
			document.getElementById("instructionInput2").classList.add(`form-control`)
			document.getElementById("instructionInput2").classList.add(`is-invalid`)
			document.getElementById("instructionInput3").classList.add(`form-control`)
			document.getElementById("instructionInput3").classList.add(`is-invalid`)
			document.getElementById("instructionInput4").classList.add(`form-control`)
			document.getElementById("instructionInput4").classList.add(`is-invalid`)

			document.getElementById("formHelp").innerHTML += "One or both of these rooms do not exist, try a room closeby, or enter an existing room number"



		}



	</script>
</body>


</html>