<!DOCTYPE html>

<head>
    <% include ../partials/head_content %>
    <script src="views/js/login.js"></script>
    <title>Welcome to MapCU</title>

</head>

<style>
    body {
        background-color: lightgrey;
    }

    .createUserBtn:hover {
        color: #CFBC6B;
        background-color: transparent;
    }

    .header-styling {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-variant: normal;
        font-weight: 200;
        line-height: 80px;
    }

    .center {
        margin: auto;
        width: 40%
    }
</style>


<script>
    $(document).ready(function () {
        $("#user_display").animate({
            opacity: "100%"
        }, 750, function () {
            $("#img_display").animate({
                opacity: "100%"
            }, 750)
        })
    })


</script>

<body>


    <h1 id="user_display" class="header-styling display-3" style="text-align: center; opacity: 0%; margin-bottom: -1%;">
        Welcome to</h1>
    <p style="text-align: center;">
        <img id="img_display" style="opacity: 0%;" src="views/images/mapculogo.png" height="135px" width="450px">
    </p>



    <div class="container">
        <form action="/login" class="center" method="POST">
            <div style="text-align: center;" class=" form-group">
                <label><b>Enter Username</b></label>
                <input id="usernameInput" type="text" class="form-control" style="margin-bottom: -10px;"
                    name="username">
                <br>
                <label for="exampleInputEmail1"><b>Enter Password</b></label>
                <input id="passwordInput" type="password" class="form-control" name="password"
                    style="margin-bottom: -10px">
                <br>
            </div>


            <div class="form-group">
                <button class="btn btn-dark btn-block" type="Submit">Login</button>
            </div>
            </label>

            <div class="text-center">
                <a style="margin-top: 0px;" href="#myModal" class="createUserBtn btn btn-outline-dark"
                    data-toggle="modal" target="_top" onclick="openModal"><em>Not a user yet? Join
                        here.</em></a>
            </div>
            <p id="formHelp" class="text-danger" style="text-align: center; padding-top:10px;"></p>

    </div>
    </form>


    </div>




    <br>
    <div id="userExistsDisplay" style="display: none;" role="alert"> </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-login modal-content">
            <div class="modal-header">
                <h4 class="modal-title  " style="text-align: center;">Sign Up Page</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>


            <div class="modal-body">
                <form action="/create_user" method="POST">

                    <!-- actual form -->

                    <div class="form-group">

                        <label>Username</label>
                        <input id="username" type="text" class="form-control" name="username" placeholder="Username"
                            required="required">

                    </div>

                    <div class="form-group">

                        <label>Password</label>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                            required="required">
                    </div>

                    <div class="form-group">
                        <button id="my_submit_button" class="btn btn-dark" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>






    <script>
        var status = (`<%- typeof(status) !== 'undefined' ? status : 'All Good' %>`)
        if (status == "IncorrectLogin") {
            document.getElementById("usernameInput").classList.add(`form-control`)
            document.getElementById("usernameInput").classList.add(`is-invalid`)
            document.getElementById("passwordInput").classList.add(`form-control`)
            document.getElementById("passwordInput").classList.add(`is-invalid`)
            document.getElementById("formHelp").innerHTML += "Invalid login! Username or password are incorrect."
        }

        var userExists = (`<%- typeof(userExists) !== 'undefined' ? userExists : 'NA' %>`)
        console.log(userExists)
        if (userExists == "true") {
            document.getElementById("userExistsDisplay").innerHTML += "This username is already taken."
            document.getElementById("userExistsDisplay").style.display = "block"
            document.getElementById("userExistsDisplay").className = "alert alert-danger"


        }

        var accountCreated = (`<%- typeof(accountCreated) !== 'undefined' ? accountCreated : 'NA' %>`)
        console.log(accountCreated)
        if (accountCreated == "true") {
            document.getElementById("userExistsDisplay").innerHTML += "Great! Now log in with the account you just made."
            document.getElementById("userExistsDisplay").style.display = "block"
            document.getElementById("userExistsDisplay").className = "alert alert-success"
        }

    </script>
</body>