<!DOCTYPE html>

<head>
    <% include ../partials/head_content %>
</head>

<body>

    <% include ../partials/navigation_bar %>


    <div class="container">

        <h1 id="user_display" class="display-3">Welcome to MapCU</h1>


        <form action="/login" method="POST">

            <div class=" form-group">
                <label>Enter Username</label>
                <input id="usernameInput" type="text" class="form-control" name="username">
                <br>
                <label for="exampleInputEmail1">Enter Password</label>

                <input id="passwordInput" type="password" class="form-control" name="password">
                <p id="formHelp" class="text-danger" style="padding-top:10px;"></p>
                <br>

                <div class="form-group">
                    <button class="btn btn-dark btn-block" type="Submit">Login</button>
                </div>
                </label>
        </form>
    </div>

    <script>
        var status = (`<%- typeof(status) !== 'undefined' ? status : 'All Good' %>`)
        console.log(status)

        if (status == "IncorrectLogin") {
            document.getElementById("usernameInput").classList.add(`form-control`)
            document.getElementById("usernameInput").classList.add(`is-invalid`)
            document.getElementById("passwordInput").classList.add(`form-control`)
            document.getElementById("passwordInput").classList.add(`is-invalid`)
            document.getElementById("formHelp").innerHTML += "Invalid login"



        }

    </script>

</body>