<!doctype html>
<html lang="en">

<head>
      <% include ../partials/head_content %>
      <title>Maps of Sectors</title>
</head>

<style>
      body {
            background-color: lightgrey;
      }
</style>

<% include ../partials/navigation_bar %>

<div class="container">
      <div class="row">
            <div class="col">
                  <h2>Image of first floor</h1>
                        <br>
                        <img src="views/images/firstfloor.jpg" alt="First floor" width="300" height="300">
            </div>
            <div class="col">
                  <br>
                  <br>

            </div>

      </div>
      <br>
      <h2>Wings of First Floor</h2>

      <div class="row">

            <img src="views/images/ECCE.jpg" alt="ECCE map" width="300" height="300">
            <img src="views/images/ECAE.jpg" alt="ECAE map" width="300" height="300">
            <img src="views/images/ECCR.jpg" alt="ECCR map" width="300" height="300">
      </div>
</div>