<!-- Home Page -->
<!doctype html>
<html lang="en">

<head>
	<% include ../partials/head_content %>
	<title>Home</title>
</head>




<% include ../partials/navigation_bar %>

<script>
	function onClickFunction() {
		var formPostObject = {
			username: "gtzinov",
			password: "MapCU2020"
		}
	}
</script>




<body>
	<p>These instructions are either blank, or: <%- instructionStatus%></p>

	<div class="container">
		<h1 id="user_display">Welcome to MapCU</h1>
		<div class="row">
			<div class="col-sm">
				<img src="views/images/ecimage.jpg" height="400px" width="675px">
			</div>

			<div class="col-sm" id="data_display">
				<h2>
				</h2>


				<!-- appending content here with js -->
			</div>

		</div>
	</div>

	<form action="/instructions" method="POST">

		<div class=" form-group">
			<label>Enter Destination Room Number</label>
			<input type="text" class="form-control" name="current_room" placeholder="Room Number">
			<label for="exampleInputEmail1">Enter Current Location</label>
			<input type="text" class="form-control" name="target_room" placeholder="Enter interest">
			<br>
			<div class="form-group">
				<button class="btn btn-primary btn-block login-btn" type="Submit">Give me
					instructions!</button>
			</div>
			</label>
	</form>

	<script>
		var user = (`<%- typeof(user) !== 'undefined' ? user : 'NA' %>`)

		if (user != 'NA') {
			document.getElementById("user_display").innerHTML += `, ${user}!`
		}



	</script>
</body>


</html>