<!DOCTYPE html>

<head>
    <% include ../partials/head_content %>
</head>

<body>

    <form action="/login" method="POST">

        <div class=" form-group">
            <label>Enter Username</label>
            <input type="text" class="form-control" name="username">
            <label for="exampleInputEmail1">Enter Password</label>
            <input type="text" class="form-control" name="password">
            <br>
            <div class="form-group">
                <button class="btn btn-primary btn-block login-btn" type="Submit">Login</button>
            </div>
            </label>
    </form>

</body>